{% extends "home/dashboard.html" %}

{% load static %}

{% block head %}
  {{ block.super }}
  <script src="{% static "js/messages/index.js" %}"></script>
{% endblock head %}

{% block script %}
  {{ block.super }}
  <script src="{% static "js/messages/attachments.js" %}"></script>
  <script src="{% static "js/messages/emoji.js" %}"></script>
  <script src="{% static "js/messages/sending.js" %}"></script>
  <script src="{% static "js/messages/sockets.js" %}"></script>
{% endblock script %}

<!-- Server List -->

{% block servers %}
  {% include "servers/list.html" with server=channel.server %}
{% endblock servers %}

<!-- Channel List -->

{% block channels %}
  {% include "channels/list.html" with server=channel.server %}
{% endblock channels %}

<!-- Message List -->

{% block messages %}
  {% include "messages/list.html" with server=channel.server channel=channel %}
{% endblock messages %}
