{% extends "home/dashboard.html" %}

{% load static %}

{% block head %}
  {{ block.super }}
  <script src="{% static "js/messages/index.js" %}"></script>
{% endblock head %}

{% block script %}
  {{ block.super }}
  <script src="{% static "js/messages/attachments.js" %}"></script>
  <script src="{% static "js/messages/buttons.js" %}"></script>
  <script src="{% static "js/messages/emoji.js" %}"></script>
  <script src="{% static "js/messages/sending.js" %}"></script>
  <!-- Websockets -->
  <script src="{% static "js/websockets/initializers/messages.js" %}"></script>
  <script src="{% static "js/websockets/index.js" %}"></script>
  <script src="{% static "js/websockets/recv-handlers/servers.js" %}"></script>
  <script src="{% static "js/websockets/recv-handlers/messages.js" %}"></script>
  <script src="{% static "js/websockets/send-handlers/servers.js" %}"></script>
  <script src="{% static "js/websockets/send-handlers/messages.js" %}"></script>
{% endblock script %}

<!-- Server List -->

{% block servers %}
  {% include "servers/list.html" with server=channel.server %}
{% endblock servers %}

<!-- Channel List -->

{% block channels %}
  {% include "channels/list.html" with server=channel.server %}
{% endblock channels %}

<!-- Message List -->

{% block messages %}
  {% include "messages/list.html" with server=channel.server channel=channel %}
{% endblock messages %}

<!-- User Profile Popup -->

{% block fullscreen %}
  <!-- This is edited by the JS found in recv-handlers/servers.js -->
  {% include "users/blank_profile.html" %}
  {% include "messages/edit.html" %}
{% endblock fullscreen %}
