{% extends 'home/dashboard.html' %}
{% load static %}

{% block script %}
  <script type="module" src="{% static 'js/messages/index.js' %}"></script>
  <script type="module" src="{% static 'js/messages/sockets.js' %}"></script>
  <script type="module" src="{% static 'js/messages/sending.js' %}"></script>
  <script type="module" src="{% static 'js/messages/attachments.js' %}"></script>
  <script type="module" src="{% static 'js/messages/emoji.js' %}"></script>
{% endblock script %}

<!-- Channel List -->
{% block channels %}
  {% include 'channels/list.html' with server=channel.server %}
{% endblock channels %}

<!-- Message List -->
{% block messages %}
  {% include 'messages/list.html' with server=channel.server channel=channel %}
{% endblock messages %}
