{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Django Tailwind</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% tailwind_css %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <script type="module"
            src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script>
    <script>
        // Django stuff
        const USER_ID = '{{ request.user.id }}';
        const GET_HOST = '{{ request.get_host }}';

        const SERVER_ID = '{{ server.id }}' || null;
        const CHANNEL_ID = '{{ channel.id }}' || null;
        const MESSAGE_ID = '{{ message.id }}' || null;

        const CSRF_TOKEN = '{{ csrf_token }}' || null;
    </script>
    <script src="{% static 'js/styles/index.js' %}"></script>

    {% block head %}
    {% endblock head %}

  </head>
  <body class="bg-gray-700 text-gray-200">
    <div class="flex w-full flex-col">
      <!-- Navbar, if necessary -->
      <div class="container mx-auto px-4 my-2 flex flex-col">

        {% block main %}
        {% endblock main %}

      </div>
    </div>

    {% block root %}
    {% endblock root %}

    {% block fullscreen %}
    {% endblock fullscreen %}

    {% block script %}
    {% endblock script %}

  </body>
</html>
