{% block script %}
<script>
  function processMessageKeydown(input) {
      if (event.key === 'Enter') {
          event.preventDefault();
          sendSocketMessage();
      }
  }

  // Unused in favor of websockets
  function sendMessage() {
      let contentInput = document.querySelector('#send-message #content');

      if (contentInput.value) {
          contentInput.disabled = true;

          let data = {
              content: contentInput.value,
          };

          fetch('{% url "servers:channels:messages:create" server.id channel.id %}', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json',
                  'X-CSRFToken': '{{ csrf_token }}',
              },
              body: JSON.stringify(data),
          })
          .then(response => response.json())
          .then(data => {
              console.log(data.result);
              contentInput.disabled = false;
              contentInput.value = '';
              contentInput.focus();
          })
          .catch(error => {
              console.error('Error:', error);
              contentInput.disabled = false;
          });
      }
  }
</script>
{% endblock script %}

<div id="send-message" class="flex flex-row w-full p-4 pt-0">
  <label class="basis-full flex flex-row bg-gray-800 rounded-xl items-center">
    <a class="mx-3.5 size-7 flex-none aspect-square object-cover rounded-3xl bg-gray-700 text-white flex items-center justify-center" href="attachment upload url here">
      <p class="text-2xl pb-0.5">+</p>
    </a>
    <input type="text" id="content" class="w-full px-4 pr-2 pl-0 bg-gray-800 rounded-r-xl text-white border-transparent focus:border-transparent focus:ring-0" placeholder="Message {{ channel.name }}" autocomplete="off" onkeydown="processMessageKeydown(this);">
  </label>
</div>
