{% block script %}
  <script>
      function processMessageKeydown(input) {
          if (event.key === 'Enter') {
              event.preventDefault();
              sendSocketMessage();
          }
      }

      $(document).ready(() => {
          const uploadButton = $('#upload-attachment')[0];
          const fileStorage = $('#attachments')[0];
          const fileDisplay = $('#attachments-view');

          // When the upload button is clicked
          uploadButton.addEventListener('click', () => {
              fileStorage.click();
          });

          // When a file is uploaded
          fileStorage.addEventListener('change', () => {
              console.log(fileStorage.files);

              // Update the list of files
              for (let i = 0; i < fileStorage.files.length; i++) {
                  const file = fileStorage.files[i];
                  const fileIndex = uploadedFiles.findIndex((f) => f.name === file.name);

                  if (fileIndex === -1) {
                      uploadedFiles.push(file);
                  } else {
                      uploadedFiles.splice(fileIndex, 1);
                      uploadedFiles.push(file);
                  }
              }

              // Update the file display
              fileDisplay.empty();
              uploadedFiles.forEach((file) => {
                  const url = URL.createObjectURL(file);
                  fileDisplay.append(`
                  <a href="${url}" target="_blank" class="inline-block min-w-20 py-1 px-2.5 rounded-xl bg-gray-700 text-white cursor-pointer mb-2">
                      ${file.name}
                  </a>
              `);
              });
          });
      });

      // Emoji Picker
      function insertAtCursor(myField, myValue) {
          if (document.selection) {
              myField.focus();
              sel = document.selection.createRange();
              sel.text = myValue;
          }
          else if (myField.selectionStart || myField.selectionStart == '0') {
              var startPos = myField.selectionStart;
              var endPos = myField.selectionEnd;
              myField.value = myField.value.substring(0, startPos)
                  + myValue
                  + myField.value.substring(endPos, myField.value.length);
              myField.focus();
              myField.selectionStart = startPos + myValue.length;
              myField.selectionEnd = startPos + myValue.length;
          } else {
              myField.value += myValue;
              myField.focus();
          }
      }

      $(document).ready(() => {
          const emojiPicker = $('#emoji-picker');
          const openEmojiPicker = $('#open-emoji-picker');

          openEmojiPicker.on('click', () => {
              emojiPicker.toggleClass('hidden');
          });

          emojiPicker.on('emoji-click', (e) => {
              const emoji = e.detail.unicode;
              const content = $('#content')[0];
              insertAtCursor(content, emoji);
          });
      });
  </script>
{% endblock script %}

<div id="send-message" class="flex flex-col w-full p-4 pt-0">
  <label class="basis-full flex flex-row bg-gray-800 rounded-xl items-center">
    <span id="upload-attachment"
          class="mx-3.5 size-7 flex-none aspect-square object-cover rounded-3xl bg-gray-700 text-white flex items-center justify-center cursor-pointer">
      <span class="text-2xl pb-0.5">+</span>
    </span>
    <span class="flex flex-col grow">
      <span>
        <input type="text" id="content"
               class="w-full px-4 pr-2 pl-0 bg-gray-800 rounded-r-xl text-white border-transparent focus:border-transparent focus:ring-0"
               placeholder="Message {{ channel.name }}" autocomplete="off"
               onkeydown="processMessageKeydown(this);">
        <input type="file" multiple id="attachments" class="hidden"/>
      </span>
      <span id="attachments-view"></span>
    </span>
    <span class="mx-3.5 flex-none flex items-center justify-center">
      <button id="open-emoji-picker" class="size-7 flex-none aspect-square object-cover rounded-3xl bg-gray-700 text-white cursor-pointer">
        <span class="text-md">😜</span>
      </button>
    </span>
  </label>
</div>

<emoji-picker id="emoji-picker" class="dark hidden absolute bottom-16 right-5"></emoji-picker>
