{% block script %}
  <script>
    // Scroll to bottom
    window.onload = function() {
      let messageList = document.getElementById('message-list');
      messageList.scrollTop = messageList.scrollHeight;
    }
  </script>
{% endblock script %}

<div class="flex flex-col h-dvh max-h-dvh">
  <!-- Header -->
  <div class="flex-none px-4 py-1 text-gray-300 flex flex-row items-center bg-gray-700 border-l-2 border-gray-600">
    <div class="divide-x flex flex-row items-center">
      <h1 class="text-2xl font-bold inline-block">{{ channel.name }}</h1>
      <h3 class="text-lg inline-block ml-3 pl-2.5">{{ channel.description }}</h3>
    </div>
  </div>

  <!-- Messages -->
  <div id="message-list" class="grow overflow-y-auto pb-3">
    {% for message in channel.messages.all %}
      <div class="w-full px-5 py-1 justify-center flex flex-row gap-3.5">
        <img class="size-10 flex-none aspect-square object-cover rounded-full mt-1" src="{{ message.author.display_avatar }}" alt="{{ message.author.username }}">
        <div class="grow text-gray-300 flex flex-col">
          <h4 class="text-lg font-bold">{{ message.author.username }}</h4>
          <p>{{ message.content }}</p>
        </div>
      </div>
    {% endfor %}
  </div>

  <!-- Send Message -->
  {% include 'messages/create.html' %}
</div>
