{% block script %}
  <script>
    // User avatar popup
    $(document).ready(() => {
        $('.user-icon-popup-link').click((e) => {
            const profile = $(e.currentTarget).parent().find('.user-icon-popup');
            profile.toggleClass('hidden');
        });

        $('.user-profile-backdrop').click(() => {
            $('.user-profile-backdrop').parent().addClass('hidden');
        });
    });
  </script>
{% endblock script %}

<div class="flex flex-col h-dvh max-h-dvh">
  <!-- Header -->
  <div class="flex-none px-4 py-1 text-gray-300 flex flex-row items-center bg-gray-700 border-l-2 border-gray-600">
    <div class="divide-x flex flex-row items-center">
      <h1 class="text-2xl font-bold inline-block">{{ channel.name }}</h1>
      <h3 class="text-lg inline-block ml-3 pl-2.5">{{ channel.description }}</h3>
    </div>
  </div>

  <!-- Messages -->
  <div id="message-list" class="grow overflow-y-auto pb-3 flex flex-col">
    <div class="grow"></div>
    <div id="message-list-div" class="flex flex-col">
      {% for message in channel.messages.all %}
        {% include 'messages/detail.html' %}
      {% endfor %}
    </div>
  </div>

  <!-- Send Message -->
  {% include 'messages/create.html' %}
</div>
