{% extends "roles/index.html" %}
{% load static %}
{% block role_list %}
  {% include 'roles/list.html' with server=server roles=server.roles.all role=role %}
{% endblock role_list %}
{% block role_edit %}
  <div class="w-full flex flex-col items-center gap-2">
    {% include 'form.html' with submit=form_button_text %}
    <div class="flex flex-row justify-center">
      <a class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
         href="{% url 'servers:roles:delete' server.id role.id %}">Delete Role</a>
    </div>
    <!-- Permissions stuff here -->
  </div>
{% endblock role_edit %}
