{% extends "roles/index.html" %}

{% load static %}

{% block role_list %}
  {% include "roles/list.html" with server=server roles=server.roles.all role=role %}
{% endblock role_list %}

{% block role_edit %}
  <div class="w-full flex flex-col items-center gap-2 p-5 rounded-3xl bg-gray-600">
    <form method="post" action="" enctype="multipart/form-data" class="w-full">
      {% csrf_token %}
      <div class="flex flex-col items-center w-full gap-4">
        <div class="flex flex-row items-center w-full">
          <div class="basis-1/2 px-2">{{ role_form }}</div>
          <div class="basis-1/2 px-2 border-l-2">{{ permissions_form }}</div>
        </div>
        <input type="submit"
               value="Save Changes"
               class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-1 cursor-pointer" />
      </div>
    </form>
    <div class="flex flex-row justify-center">
      <a class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
         href="{% url 'servers:roles:delete' server.id role.id %}">Delete Role</a>
    </div>
    <!-- Permissions stuff here -->
  </div>
{% endblock role_edit %}
