<div class="w-full flex flex-col items-center py-3 px-2 gap-2 overflow-y-auto">
  {% for role_iter in roles %}
    <a class="w-full p-1 text-center flex flex-col justify-center {% if role_iter.id == role.id %}bg-[#{{ role_iter.color }}]{% else %}bg-gray-600{% endif %} text-gray-300 rounded-md cursor-pointer" href="{% url 'servers:roles:edit' server.id role_iter.id %}">
      <p class="{% if role_iter.id == role.id %}text-white{% else %}text-[#{{ role_iter.color }}]{% endif %}">{{ role_iter.name | truncatechars:15 }}</p>
    </a>
  {% endfor %}

  <a class="w-full p-1 text-center flex flex-col justify-center text-gray-300 rounded-md cursor-pointer" href="{% url 'servers:roles:create' server.id %}">
    <p>+ New Role</p>
  </a>
</div>
